/.vs
*.user
*/Debug
*/Release
/ipch
/XtremeTest/DDrawRenderer.dll
/XtremeTest/DX11Renderer.dll
/XtremeTest/DX82dRenderer.dll
/XtremeTest/DX8MPlayer.dll
/XtremeTest/DX8OggPlayer.dll
/XtremeTest/DX8Renderer.dll
/XtremeTest/DX8Sound.dll
/XtremeTest/DX9Renderer.dll
/XtremeTest/DX9ShaderRenderer.dll
/XtremeTest/DXInput.dll
/XtremeTest/OpenGLRenderer.dll
/XtremeTest/RawInput.dll
/XtremeTest/VulkanRenderer.dll
/XtremeTest/WinInput.dll
/XtremeTest/XAudio2Sound.dll
/Xtreme2d/DDrawRenderer.dll
/Xtreme2d/DX82dRenderer.dll
/Xtreme2d/DX8MPlayer.dll
/Xtreme2d/DX8OggPlayer.dll
/Xtreme2d/DX8Sound.dll
/Xtreme2d/DXInput.dll
/Xtreme2d/RawInput.dll
/Xtreme2d/WinInput.dll
/Xtreme2d/XAudio2Sound.dll
/Xtreme3d/DX11Renderer.dll
/Xtreme3d/DX8MPlayer.dll
/Xtreme3d/DX8OggPlayer.dll
/Xtreme3d/DX8Renderer.dll
/Xtreme3d/DX8Sound.dll
/Xtreme3d/DX9Renderer.dll
/Xtreme3d/DX9ShaderRenderer.dll
/Xtreme3d/DXInput.dll
/Xtreme3d/OpenGLRenderer.dll
/Xtreme3d/RawInput.dll
/Xtreme3d/VulkanRenderer.dll
/Xtreme3d/WinInput.dll
/Xtreme3d/XAudio2Sound.dll
/Release
/Debug
*.cso
/DX8OggPlayer/orig_ogg
/XtremeTest/*.aps
*.suo
/Xtreme.VC.db
